@page
@model TopicModel
@{
     int Replies = 0;
    int Posts = 0;
    string Msg = "-";
    int cont = 1;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Bentornato , la tua ultima visita risale al dd/mm/yyyy, hh/mm​, ​Vuoi unirti a noi e iniziare a discutere del tuo manga preferito?">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/css/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/css/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.9.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
</head>
  <div class="u-expanded-width u-table u-table-responsive u-table-2">
            <table class="u-table-entity u-table-entity-2">
                <colgroup>
                    <col width="6%">
                    <col width="40.9%">
                    <col width="10.8%">
                    <col width="10.9%">
                    <col width="31.5%">
                </colgroup>
                <thead class="u-grey-50 u-table-header u-text-black u-table-header-2">
                    <tr style="height: 30px;">
                        <th class="u-border-2 u-border-grey-40 u-table-cell"></th>
                        <th class="u-border-2 u-border-grey-40 u-table-cell">&gt; TOPICS</th>
                        <th class="u-border-2 u-border-grey-40 u-table-cell">Discussioni</th>
                        <th class="u-border-2 u-border-grey-40 u-table-cell">Risposte</th>
                        <th class="u-border-2 u-border-grey-40 u-table-cell">Ultimo messaggio</th>
                    </tr>
                </thead>
                <tbody class="u-palette-1-light-3 u-table-body u-table-body-2">
                     @foreach(var item in Model.EleTopics)
                    {
                        if(APICaller.GetPostOfTopic(item.id_Topic).Result.state)
                        Posts =APICaller.GetPostOfTopic(item.id_Topic).Result.posts.Count;
                        if(APICaller.GetRepliesOfTopic(item.id_Topic).Result.state)
                        Replies = APICaller.GetRepliesOfTopic(item.id_Topic).Result.replies.Count;
                        if(APICaller.GetRepliesOfTopic(item.id_Topic).Result.state)
                        Msg = APICaller.GetRepliesOfTopic(item.id_Topic).Result.replies.OrderBy(x=>x.ReplyDate).First().Reply;
                        <tr style="height: 59px;">
                            @if(cont == 1)
                            {
                                <td class="u-border-1 u-border-grey-40 u-table-cell"> <div style="background-image: url('data:image/png;base64,@item.Manga.Image')"
                                class="u-image u-image-circle u-image-1" alt="@item.Manga.Title" data-image-width="1280" data-image-height="800"></div></td>
                                cont++;

                            }
                            else
                            {
                                <td class="u-border-1 u-border-grey-40 u-table-cell"> <div style="background-image: url('data:image/png;base64,@item.Manga.Image')"
                                class="u-image u-image-circle u-image-@cont" alt="@item.Manga.Title" data-image-width="1280" data-image-height="800"></div></td>
                            }
                            <td class="u-border-1 u-border-grey-40 u-table-cell">@item.Name</td>
                            <td class="u-align-left u-border-1 u-border-grey-40 u-table-cell">@Posts</td>
                            <td class="u-border-1 u-border-grey-40 u-table-cell">@Replies</td>                                        
                            <td class="u-border-1 u-border-grey-40 u-table-cell">@Msg</td>                        
                        </tr>
                        Posts = 0;
                        Replies = 0;
                        Msg = "-";
                    }
                </tbody>
            </table>
        </div>